<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2"  name="APIAutomation">
        <classes>

            <class name="com.thetestingacademy_25April.RA002">
                <methods>
                    <include name="test4"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>